#
# Per platform configuration of permitted Ethernet interfaces
# ===========================================================
#

winpath=WpENET,Upstream=true;enet0,Upstream=true;enet1,Upstream=true;
xilinx=eth0,Upstream=true;
x86=eth0,Upstream=true;eth1,Upstream=true;
base=eth1,Upstream=true;eth0_1,Upstream=false;eth0_0,Upstream=false;eth0_0_1,Upstream=false;eth0_0_2,Upstream=false;eth0_0_3,Upstream=false;eth0_0_4,Upstream=false;eth0_0_5,Upstream=false;eth0_0_6,Upstream=false;eth0_0_7,Upstream=false;eth0_0_8,Upstream=false;eth0_0_9,Upstream=false;eth0_0_10,Upstream=false;eth0_0_11,Upstream=false;eth0_0_12,Upstream=false;eth0_0_13,Upstream=false;eth0_0_14,Upstream=false;eth0_0_15,Upstream=false;eth0_0_16,Upstream=false;eth0_0_17,Upstream=false;eth0_0_18,Upstream=false;eth0_0_19,Upstream=false;eth0_0_20,Upstream=false;eth0_0_21,Upstream=false;eth0_0_22,Upstream=false;eth0_0_23,Upstream=false;eth0_0_24,Upstream=false;eth0_0_25,Upstream=false;eth0_0_26,Upstream=false;eth0_0_27,Upstream=false;eth0_0_28,Upstream=false;eth0_0_29,Upstream=false;eth0_0_30,Upstream=false;eth0_0_31,Upstream=false;br0,Upstream=false;
