* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

body {
	background-color: #e7e7e7;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 100%;
	display: flex;
	flex-flow: column;
}

.mmx-login-body {
	background-color: #72166b !important;
}

.mmx-login-content#maincontent {
	background-color: #72166b;
}

code {
	font-family: monospace;
	white-space: pre;
}

div#mmx-maincontent ul {
	margin-left: 2em;
}

.warning {
	color: #441042;
	background-color: #cebfd8;
	padding: 0.5em;
	padding-left: 15px;
	font-size: 12px;
}

.mmx-clear {
	clear: both;
	height: 1px;
}

.hidden {
	display: none;
}

.error {
	color: #ff0000;
}

#header {
	height: 60px;
	text-align: center;
	background-color: #72166b;
}

#header2 {
	height: 60px;
	vertical-align: middle;
	display: table-cell;
}

#header-logo {
	height: 60px;
	width: 180px;
	padding-left: 15px;
	padding-top: 5px;
}

.pathbar {
	display: none;
}

.mmx-menubar {
	height: 60px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 20px;
}

.mmx-menu-wrapper {
	display: inline-block;
}

.mmx-mainmenu {
	font-size: 14px;
	color: #000000;
        padding-left: 30px;
}

.mmx-mainmenu div {
	float: left;
}

.mmx-mainmenu li {
	white-space: nowrap;
	width: 170px;
	padding: 0px 15px;
	text-align: left;
}

.mmx-mainmenu li:hover {
	background-color: #ac22a1;
}

.mmx-mainmenu div ul {
	display: none;
	position: absolute;
	background: #72166b;
	border: none;
	list-style-type: none;
}

.mmx-mainmenu ul li:hover > ul,
.mmx-mainmenu div:hover > ul {
	display: block;
}

.mmx-mainmenu ul li > ul {
	left: 100%;
	margin-top: -30px;
	border-width: 1px;
}

.mmx-menu-main > a {
	display: block;
	padding: 15px;
	color: #c6c6c6;
	text-decoration: none !important;
	font-weight: bold;
}

.mmx-menu-main:hover > a {
	color: #8c61aa;
}

.mmx-submenu-item > a {
	font-weight: 500;
	display: block;
	color: #ffffff;
	padding-left: 0;
	text-decoration: none !important;
	padding-top: 10px;
	height: 30px;
}

.mmx-mainmenu .active a,
.mmx-modemenu .active a {
/*	font-weight: bold; */
}

.mmx-modemenu a:hover,
.mmx-modemenu a:focus,
.mmx-mainmenu a:hover,
.mmx-mainmenu a:focus {
	text-decoration: none;
}

.mmx-menu-main.preactive > a {
	font-weight: bold;
}

.mmx-modemenu ul {
	width: auto;
	background: #f09b22;
	color: #000000;
	list-style-type: none;
}

.mmx-modemenu li {
	float: right;
}

#mmx-maincontent {
	clear: both;
	width: 1180px;
	/* width: 85%; */
	padding: 10px 20px 0px;
	background-color: #ffffff;
	margin: 0 auto;
	color: #333333;
	font-size: 80%;
	align-self: center;
	flex: 1;
}

#mmx-maincontent h2 {
	margin: 0.25em 0 0.5em 0;
	font-size: 150%;
	font-weight: normal;
}

#mmx-maincontent h3 {
	margin: 0.5em 0;
	font-size: 120%;
	font-weight: normal;
	text-decoration: underline;
}

#mmx-maincontent p {
	margin-bottom: 1em;
}

textarea#syslog {
	width: 98%;
	min-height: 500px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: monospace;
}

.mmx-cbi-section {
	border: none;
}

fieldset.mmx-cbi-section.mmx-section {
	margin-top: 3em !important;
}

.mmx-cbi-section legend {
	font-size: 18px;
	color: #555555;
}

.mmx-cbi-section h2 {
	margin: 0em 0 0.5em -0.5em !important;
}

.mmx-cbi-section h3 {
	height:	1.5em;
	font-size: 90%;
	color: #555555;
}

.mmx-cbi-section-descr {
	margin-bottom: 0.5em;
	font-size: 95%;
}

.mmx-cbi-title-ref {
	color: inherit;
	text-decoration: none;
	padding-right: 18px;
	background: url('../resources/cbi/link.gif') no-repeat scroll right center;
	background-color: inherit;
}

input[type=submit],
input[type=reset],
input[type=image],
label {
	cursor: pointer;
}

select,
input,
textarea {
	background: #eeeeee;
	color: #000000;
	border-width: 1px;
	border-color: #000000;
}

input[type=image] {
	border: none;
}


input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
	/* background-color: #f2f3f9; */
	background-color: #ffffff;
}

select,
input[type=text],
input[type=password] {
	width: 20em;
}

td select,
td input[type=text],
td input[type=password] {
	width: 99%;
}

img.mmx-cbi-image-button {
	cursor: pointer;
	margin: 0 2px;
	vertical-align: middle;
}

input.mmx-cbi-input-text {
	height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
}

input.mmx-cbi-input-user {
	background-color: inherit;
	padding-left: 2px;
}

input.mmx-cbi-input-password {
	background-color: inherit;
	padding-left: 2px;
}

input.mmx-cbi-input-find {
	background: url('../resources/cbi/find.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.mmx-cbi-input-reload {
	background: url('../resources/cbi/reload.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

input.mmx-cbi-input-add,
input.mmx-cbi-button-add {
	background: url('../resources/cbi/add.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.mmx-cbi-input-fieldadd,
input.mmx-cbi-button-fieldadd {
	background: url(../resources/cbi/fieldadd.gif) no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.mmx-cbi-input-reset,
input.mmx-cbi-button-reset {
	background: url('../resources/cbi/reset.gif') no-repeat scroll 1px center;
	background-color: inherit;
	#padding-left: 17px;
	#padding-right: 1px;
	visibility: hidden;
}

input.mmx-cbi-input-save,
input.mmx-cbi-button-save {
	background: url('../resources/cbi/save.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

input.mmx-cbi-input-apply,
input.mmx-cbi-button-apply {
	background: url('../resources/cbi/apply.gif') no-repeat scroll 1px center;
	color: white;
	background-color: white;
	padding-left: 17px;
	padding-right: 1px;
}

.mmx-cbi-button {
	color: #fff;
	background: none !important;
	background-color: #72166b !important;
	margin: 0px 5px 0px 0px !important;
	padding: 10px 14px !important;
	border-radius: 2px;
	font-size: 14px;
	border: none;
	width: 7em;
}

.mmx-cbi-button:hover, .mmx-cbi-button:active {
	color: #fff;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

input.mmx-cbi-input-remove,
div.mmx-cbi-section-remove input {
	background: url('../resources/cbi/remove.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
	padding-right: 1px;
}

.mmx-cbi-input-invalid {
	background-image: url('../resources/cbi/reset.gif');
	background-repeat: no-repeat;
	background-position: right;
	color: #FF0000 !important;
	border-color: #FF0000;
}

div.mmx-cbi-section-remove input {
	border-bottom: none;
}

textarea {
	margin-left: -1px;
	margin-bottom: 0.5em;
}

form > div > input[type=submit],
form > div > input[type=reset] {
	margin-left: 0.5em;
}

form > div > input[type=image], label {
	visibility: hidden;
}

table.smalltext {
	background: #f5f5f5;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 90%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.smalltext tr:hover td {
	background-color: #bbddee;
}

table.smalltext tr th {
	padding: 0 0.25em;
	border-left: 1px solid #666666;
	text-align: left;
}

table.smalltext tr td {
	padding: 0 0.25em;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

.mmx-cbi-rowstyle-1 {
	background-color: #eeeeff;
}

.mmx-cbi-rowstyle-2 {

}

div.mmx-cbi-value {
	clear: left;
	vertical-align: middle;
	padding-left: 0.25em;
	border-bottom: none;
}

div.mmx-cbi-value:hover {
	background: #f8f8f8;
}

div.mmx-cbi-value:last-child {
	border: none;
}

.mmx-cbi-value-title {
	float: left;
	width: 40%;
}

div.mmx-cbi-value-field {
	width: 58%;
	margin: 0.25em 0 0.25em 40%;
}

div.mmx-cbi-value-description {
	font-size: 90%;
}

div.mmx-cbi-section-create {
	clear: left;
	white-space: nowrap;
}

div.mmx-cbi-map-descr {
	margin-bottom: 1em;
	visibility: hidden;
	backface-visibility: hidden;
}

.mmx-cbi-map h2 {
	visibility: hidden;
}

div.mmx-cbi-optionals {
	margin: 0.5em 0;
	padding: 0 0.25em;
}

div.mmx-cbi-section-remove {
	float: right;
}

.mmx-cbi-section-node {
	clear: both;
	border: none
	padding-bottom: 0;
}

.mmx-cbi-section-node div.mmx-cbi-section-table-row {
	margin: 0.25em;
}

table.mmx-cbi-section-table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}

tr.mmx-cbi-section-table-titles th {
	vertical-align: top;
}

table.mmx-cbi-section-table th,
table.mmx-cbi-section-table td {
	text-align: left;
	padding: 6px;
}

tr.mmx-cbi-section-table-descr th {
	font-weight: normal;
	font-size: 90%;
}

td.mmx-cbi-section-table-optionals {
	text-align: left !important;
	padding-top: 1em;
}

.mmx-cbi-value-helpicon img {
	vertical-align: bottom;
}

div.mmx-cbi-error {
	font-size: 95%;
	font-weight: bold;
	color: #FF0000;
}

td.mmx-cbi-value-error {
	border-color: red !important;
}

.mmx-cbi-value-error input,
.mmx-cbi-value-error select {
	color: red !important;
	background-color: #FFCCCC;
}

.mmx-cbi-section-error {
	color: red;
	font-size: 95%;
	border: 1px dotted red;
	margin: 3px;
	padding: 3px;
}

ul.mmx-cbi-apply {
	font-size: 90%;
}

ul.mmx-cbi-tabmenu {
	padding: 3px 0;
	margin-left: 0 !important;
	margin-bottom: -1px;
	list-style-type: none;
}

ul.mmx-cbi-tabmenu li.cbi-tab,
ul.mmx-cbi-tabmenu li.cbi-tab-disabled {
	display: inline;
	margin: 0;
}

ul.mmx-cbi-tabmenu li.cbi-tab a,
ul.mmx-cbi-tabmenu li.cbi-tab-disabled a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px outset #000000;
	border-bottom: none;
	background-color: #EEEEEE;
	color: #BBBBBB;
}

ul.mmx-cbi-tabmenu li.cbi-tab-highlighted a {
	color: #000000;
	background-color: #FFEEAA;
}

ul.mmx-cbi-tabmenu li a:hover {
	color: #000000;
}

ul.mmx-cbi-tabmenu li.cbi-tab a {
	position: relative;
	top: 1px;
	padding-top: 4px;
	color: #000000;
	background-color: #FFFFFF;
}

div.mmx-cbi-tab-descr {
	background-image: url(/luci-static/resources/cbi/help.gif);
	background-position: 0.25em 50%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	margin: 0.25em 0.25em 2em;
	padding: 0.5em 0.5em 0.5em 2em;
}

.mmx-right {
	text-align: right;
}

.mmx-luci {
	background-color: inherit;
	height: 42px;
}

.mmx-luci img {
	float: right;
	height: 100%;
}

.mmx-luci a {
	color: #666666;
	text-decoration: none;
	font-size: 70%;
}

.mmx-inline {
	display: inline;
}

.error500 {
	white-space: normal;
	border: 1px dotted #FF0000;
	background-color: #FFFFFF;
	padding: 0.5em;
}

/* obligatory IE6 Voodoo Code */
* html body {
	padding-left: 50% !important;
}

* html div#header {
	margin-left: -100% !important;
}

* html div.menubar {
	margin-left: -100% !important;
	width: 200% !important;
}

* html div#maincontent {
	margin-left: -80% !important;
	width: 160% !important;
}

* html div.mmx-mainmenu div.mmx-hover ul,
* html div.mmx-mainmenu div li.mmx-hover ul,
* html div.mmx-mainmenu div li li.mmx-hover ul,
* html div.mmx-mainmenu div li li li.mmx-hover ul,
* html div.mmx-mainmenu div li li li li.mmx-hover ul {
	display: block !important;
	margin-left: 3em;
}

* html div.mmx-mainmenu div.mmx-hover ul {
	margin-left: 0;
}

* html div.mmx-mainmenu .hover ul ul,
* html div.mmx-mainmenu .hover ul ul ul,
* html div.mmx-mainmenu .hover ul ul ul ul,
* html div.mmx-mainmenu .hover ul ul ul ul ul {
	display: none !important;
}

* html div.mmx-mainmenu li {
	height: 1em !important;
	width: 10em !important;
}

* html .mmx-mainmenu {
	height: 1.8em;
}

* html div.mmx-cbi-value-description {
	margin-left: 40%;
}

/*
	MMX Jquery UI Styles
*/

.mmx-edit-window-full { color: #000000; background-color: #c0c0c0; border: 1px solid #000000; }
.mmx-edit-window-full .ui-dialog-titlebar { color: #ffffff; background-color: #606060; }
.mmx-edit-window-full .ui-dialog-titlebar-close { display: none; }
.mmx-tooltip-window { font-size: 80%; color: #000000; background-color: #ffffff; }

.mmx-full-value-window { color: #000000; background-color: #c0c0c0; border: 1px solid #000000; }
.mmx-full-value-window .ui-dialog-titlebar { color: #ffffff; background-color: #606060; }
.mmx-full-value-window .ui-dialog-titlebar-close { display: none; }
.mmx-full-value-readonly .ui-dialog-content { overflow: hidden; word-wrap: break-word; word-break: break-all; }

/*
	MMX Jquery UI Styles
*/

.mmx-section .cbi-section-node {
	width: 75%;
}

input.mmx-cbi-button-refresh {
	background: url('/luci-static/resources/cbi/reload.gif') no-repeat scroll 1px center;
	background-color: inherit;
	padding-left: 17px;
}

ul.mmx-tabmenu {
	padding: 0px;
	margin-left: 0 !important;
	margin-top: 50px;
	list-style-type: none;
	display: block;
}

li.mmx-tab {
	display: block;
	margin: 0px 10px;
	min-width: 80px;
	text-align: left;
}

li.mmx-tab a {
	display: block;
	color: #72166b;
	text-decoration: none;
	padding: 10px 0px;
	font-size: 14px;
}

li.mmx-tab a:hover {
	text-decoration: none;
}

.mmx-breadcrumbs {
	margin: 20px 10px 0px;
	float: left;
}

.mmx-breadcrumbs a {
	color: #72166b;
	text-decoration: none;
}

.mmx-breadcrumb-separator {
	padding: 0px 2px;
	color: #969696;
}

.current-mmx-page {
	font-size: 14px;
	color: #9d9d9c;
}

.mmx-page-title {
	font-size: 36px;
	line-height: 36px;
	color: #323232;
	margin: 60px 10px 0px;
	display: flex;
}

.mmx-section-actions {
	margin-top: 20px;
}

.mmx-section table.mmx-cbi-section-table {
	table-layout: fixed;
}

.mmx-tablegroup-table tr.mmx-cbi-section-table-row {
	border-top: 1px solid #dadada;
}

.mmx-tablegroup-table tr.mmx-cbi-section-table-row:first-child {
	border-top: 2px solid #dadada;
}

.mmx-matrix-table tr.mmx-cbi-section-table-titles {
	border-bottom: 2px solid #dadada;
}

.mmx-matrix-table tr.mmx-cbi-section-table-row {
	border-bottom: 1px solid #dadada;
}

.mmx-matrix-table tr.mmx-cbi-section-table-row:first-child {
	border-bottom: 2px solid #dadada;
}

.mmx-matrix-table tr.mmx-cbi-section-table-row.even {
}

.mmx-matrix-table tr.mmx-cbi-section-table-row.odd {
	background-color: #f9f9f9;
}

tr.mmx-cbi-section-table-row.mmx-action-delete {
	background-color: rgb(236,187,187) !important;
}

tr.mmx-cbi-section-table-row.mmx-action-update {
	background-color: #fcf8e3 !important;
}

tr.mmx-cbi-section-add-row {
        height: 2.5em;
}

.mmx-cell-update {
	background-color: #fcf8e3 !important;
}

tr.mmx-cbi-section-table-row.mmx-action-create {
	background-color: #dff0d8 !important;
}

.mmx-display-holder {
	overflow-x: auto;
}

.mmx-action-field {
	text-align: right !important;
}

a.mmx-edit-row {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 16px;
}

a.mmx-delete-row {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 16px;
}

a.mmx-create-row {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 16px;
}

a.mmx-revert-row {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 16px;
}

.mmx-edit-row, .mmx-delete-row, .mmx-create-row, .mmx-revert-row {
	color: #72166b;
	font-size: 14px;
	text-decoration: none;
}

.mmx-tooltip {
	font-size: 15px;
}

.mmx-full-value-popup {
	display: none;
	overflow: hidden !important;
}

.mmx-full-value-popup textarea.mmx-field {
	width: 100%;
	height: 100%;
	resize: none;
}

.mmx-field {
	border-color: #b7b7b7;
	border-style: solid;
	padding: 2px;
	background: #f2f3f9;
}

.mmx-full-value-link {

}

.mmx-tablegroup-header {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.mmx-tablegroup-header:first-of-type {
	margin-top: 25px !important;
}

.mmx-tablegroup-keys {
	font-size: 14px;
	font-weight: bold;
	color: #8c61aa;
	display: inline-block;
	float: left;
	margin: 9px 0px;
}

.mmx-tablegroup-buttons {
	float: right;
	display: inline-block;
}

/* edit button with pencil sigh */
.mmx-tablegroup-edit {
	padding: 8px 9px !important;
	background-color: white !important;
}

/* pencil sign on edit button above */
.fa-pencil-alt:before {
    content: "\f303";
    color: #72166b;
}

a.mmx-tablegroup-revert {
	font-size: 24px;
	color: #441042;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 5px;
	margin-left: 8px;
}

.mmx-tablegroup-description {
	color: #9d9d9c;
}

th.mmx-matrix-header-help {
	color: #8c61aa;
}

th.mmx-matrix-header-nohelp {
	color: #8c61aa;
}

.mmx-login {
	width: 640px;
	height: 360px;
	border-radius: 30px;
	margin: 0px auto;
	margin-top: 140px;
}

.mmx-login-header {
    text-align: center;
}

.mmx-login-logo {
        width: 300px;
	opacity: 84%;
}

.mmx-login-title {
	font-size: 16px;
	float: right;
	width: 50%;
	margin-top: 44px;
}

.mmx-login-title-up {
	color: #ffffff;
	display: block;
}

.mmx-login-title-small {
	color: #feb53e;
	display: block;
	opacity: 84%;
	margin-top: 6px;
}

.mmx-login-form {
	width: 360px;
	margin: 0px auto;
	margin-top: 40px;
}

.mmx-login-field {
	margin-top: 16px;
}

.mmx-login-button {
	margin-top: 16px;
}

.mmx-login-button input {
	width: 100%;
	margin: 0px !important;
	font-size: 16px;
	background-color: #561450 !important;
	box-sizing: border-box;
	height: 42px;
	border: none;
	color: #ffffff;
}

.mmx-login-field input {
	background-color: #f2f9fc;
	color: #1d1d1b;
	font-size: 16px;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 2px 11px;
	height: 42px;
	box-sizing: border-box;
}

.mmx-login-field input::placeholder {
	color: #9d9d9c;
}

.mmx-login-forgot {
	font-size: 12px;
	text-align: center;
	margin-top: 16px;
	color: #bbbbbb;
}

.mmx-right-menu {
	height: 60px;
	vertical-align: middle;
	display: table-cell;
}

.mmx-headwrap-left {
	float: left;
}

.mmx-headwrap-right {
	float: right;
	height: 60px;
	width: 220px;
}

.mmx-right-menu {
    height: 60px;
    float: left;
    padding-top: 1.2em;
}

.mmx-right-menu a {
    color: #c6c6c6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.mmx-top-logo {
    height: 60px;
    float: right;
    background-color: #441042;
}

.mmx-top-logo img {
    height: 60px;
}

.mmx-right-title {
	float: right;
	font-size: 12px;
	color: #feb53e;
	opacity: 80%;
	margin-left: 70px;
	margin-right: 30px;
}

.mmx-vector-table {
	display: table;
	width: 100% !important;
	border: none;
	border-collapse: collapse;
}

.mmx-vector-row {
	display: table-row;
	border-top: 1px solid #dadada !important;
	border-bottom: none !important;
	font-size: 12px;
	color: #3c3c3b;
}

.mmx-vector-title {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	float: none;
	padding: 8px;
	width: 30%;
	visibility: unset;
}

.mmx-vector-value {
	display: table-cell;
	width: 20% !important;
	text-align: left;
	margin: 0px !important;
	vertical-align: middle;
	padding: 8px;
}

.mmx-vector-desc {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: left;
	color: #9d9d9c;
	padding: 8px;
}

.mmx-vector-row:first-child {
	border-top-width: 2px !important;
}

.mmx-vector-value .mmx-field {
	width: 99%;
	padding: 0px;
}

.mmx-footer-license {
	margin-bottom: 10%;
	font-size: 12px;
}

.mmx-footer-license p {
	color: #bbbbbb;
	width: 520px;
	text-align: center;
	display: inline-block;
        padding-top: 5px;
        padding-left: 1em;
}

.mmx-footer-license img {
	display: block;
	width: 150px;
	margin: auto;
}

.mmx-footer {
	background-color: #000000;
	text-align: center;
	font-size: 10pt;
	color: #bbbbbb;
}

.mmx-footer img {
	height: 54px;
	vertical-align: middle;
}

.mmx-auth-footer {
	background-color: #72166b;
}

.mmx-cbi-page-actions {
    text-align: center;
}